@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NorthWindMVC_First</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Custom jumbotron</h1>
            <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
    </div>
    <!--Content-->
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <div class="d-flex justify-content-between mb-4">
                        <span>18₺</span>
                        <span>Category</span>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <div class="d-flex justify-content-between mb-4">
                        <span>18₺</span>
                        <span>Category</span>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <div class="d-flex justify-content-between mb-4">
                        <span>18₺</span>
                        <span>Category</span>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.slntechnologies.com/wp-content/uploads/2017/08/ef3-placeholder-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <div class="d-flex justify-content-between mb-4">
                        <span>18₺</span>
                        <span>Category</span>
                    </div>

                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>